<h1>Source Material</h1>
Reading: <%= link_to "A briefing on web cookies", "https://medium.com/@meryldakin/a-briefing-on-web-cookies-d21b77a8d691" %>
<br><br>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9W9t3p1Pk5s" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cVmt_-2uueM" frameborder="0" allowfullscreen></iframe>
</div>
