<div class="container center-align">
  <h1>Magic Cookie!</h1>
  <%= image_tag("victory.gif", :alt => "cry bear") %>
  <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a></button> Or <%= link_to "Log In", login_path %></p>
</div>
