<h1>COOKIE BEAR like fortune cookies.</h1>
<p>cookies? yum. that’s what BEAR say.</p>
<p>BEAR wanna eat ALL your fortune cookies.
but fortunes in the cookies all mixed up, like:</p>
<p>you eat what you are.<br>
what you are you eat.<br>
are you you eat what.<br>
what are you you eat.<br>
you eat you what are.</p>
<p>if u can get it right in less than 20 seconds, u win fortune cookies! if u can’t, BEAR eats your cookies :(</p>
<p>if u win 300 cookies, you win game!</p>
<p>if u lose all your cookies, BEAR eat them all :(</p>
