<h1>The Cookie Bear pursues you.</h1>

  <p>On the next screen you will see a fortune. The fortune has been scrambled.</p>
  <p>Unscramble it in 20 seconds and you shall earn cookie points and thwart the cookie bear.</p>
  <p>If you guess incorrectly or the time runs out, the cookie bear will eat those points.</p>

  <h3>Win:</h3>
  <p>You score above 300 cookie points!</p>
  <h3>Lose:</h3>
  <p>Your cookie score drops below -75!</p>
