<div class="row">
  <div class="col s1">
  </div>
  <div class="col s7">
    <h1>COOKIE BEAR <br>like fortune cookies.</h1>
    <p>cookies? yum. that’s what BEAR say.</p>
    <p>BEAR wanna eat ALL your fortune cookies.
      but fortunes in the cookies all mixed up, like:</p>
      <p>you eat what you are.<br>
        what you are you eat.<br>
        are you you eat what.<br>
        <p>if u can get it right in less than 20 seconds, u win fortune cookies!<br> if u can’t, BEAR eats your cookies :( <br> if u win 300 cookies, you win game! <br> if u lose all your cookies, BEAR eat them all :(</p>
  </div>
  <div class="col s3">
    <div class="card-panel">
      <%= image_tag("doom.png", :alt => "doom") %>
      <br><br>
      <div class="center-align">
        <%= link_to("START GAME!", create_game_path, method: :post, class: " btn")%>

      </div>
      <br>
      <h3 class="center-align">Hint:</h3>
      <p class="center-align">Use the "Shuffle Words" button if you get stuck!</p>
    </div>
  </div>
  <div class="col s1">
  </div>
</div>
