<div class="jumbotron">
  <h1>Welcome to Magic Cookie!</h1>
  <p>A little about the game... perhaps a pic of cookie bear</p>
    <p><a class="btn btn-primary btn-lg" href=new_user_path role="button">Sign Up</a></button></p>
    <p> Or <%= link_to "Log In", login_path %></p>

</div>
<br>
