<h1>Game Recap</h1>

<h4>Final Cookies: <%= @game.score %></h4>
<h4>Fortunes Unshuffled Correctly:</h4>
<% if !@game.won_fortunes.empty? %>
  <ul>
    <% @game.won_fortunes.each do |fortune| %>
    <li>
      - "<%= fortune.proverb %>"
    </li>
    <% end %>
  </ul>
<% else %>
<br>
<h5 class="teal-text">Cookie Bear ate all da cookies :(</h5>
<% end %>
