
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Griffy');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Averia+Serif+Libre|Cabin+Sketch|IM+Fell+English+SC|Sorts+Mill+Goudy|Special+Elite');

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid teal; /* Just change the color value and that's it*/
}

h1, h2, h3 {
  font-family: "Griffy", cursive;
}

html {
   font-family: 'Averia Serif Libre', cursive;
 }

th {
  font-size: 23px
}

p, li, td {
  font-size: 20px
}

.nav-wrapper {
  background-color: #ffc107 !important;
}
.card-panel {
  font-size: 20px
}

.card-image-fortune {
  float: right;
}
.red-text {
  font-color: red;
}
